* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.button-container button {
  height: 3.8rem;
  width: 3.8rem;
  margin: 0.4rem;
  border: none;
  border-radius: 10px;
  outline: none;
  transition: 0.3s ease all;
  background-color: rgb(228, 225, 225);
  cursor: pointer;
}

.button-container button:hover {
  transform: scale(1.1);
}

.drum-page {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    to right,
    #f78ca0 0%,
    #f9748f 19%,
    #fd868c 60%,
    #fe9a8b 100%
  );
  flex-direction: column;
}

.main-header {
  font-size: 2rem;
  color: white;
  margin-bottom: 1rem;
}
.second-header {
  font-size: 1.3rem;
  color: white;
  margin-bottom: 2rem;
}

.drum {
  height: 50vh;
  width: 70%;
}

.description {
  color: white;
  transform: translate(-10%, -200%);
  z-index: -10;
}
